.day-products {
  padding: 70px 0 76px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin: 0 0 60px 0;
  }

  &__title {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 46.8px;
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    transform: translateX(-70px);

    .swiper-button-next::after,
    .swiper-button-prev::after {
      display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      top: unset;
      height: unset;
      margin-top: unset;
      color: var(--c-black);
    }
  }

  &__navigation-btn {
    background-color: transparent;
    border: 1px solid var(--c-black);
    border-radius: 10px;
    padding: 5px 20px;
    color: var(--c-black);
    cursor: pointer;

    &:disabled {
      color: var(--c-dark-gray);
    }
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    width: 290px;
  }
}
